html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #ededed;
}

h1 {
    font-size: 5.8rem;
    font-weight: 700;
}

h2 {
    font-size: 3.4rem;
    font-weight: 400;
}

h3 {
    font-size: 2.8rem;
    font-weight: 300;
}

p {
    font-weight: 400;
}



.contenedor {
    max-width: 89%;
    margin: 0 auto;
}

.site-header {
    background-image: url(../img/header.png);
    min-height: 60rem;
}

nav a {
    font-size: 2.8rem;
    color: #fff;
    text-decoration: none;
}

.perfil-card {
    grid-template: 60% 1fr 1fr / auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.perfil-card:hover {
    box-shadow: 0 0 6px #023047;
}

.publish-date {
    color: #686869;
}

.bg-grey{
    background-color: #333;
}

.footer{
    background-color: #333;
    width: 100%;
    
}

.border{
    border: 1px solid black;
}

.experience-btn{
    border: 1px solid white;
    margin: 2rem 0;

}

#experience-description, #btns-div{
    height: 35rem;
}